SUPABASE_URL=
SUPABASE_ANON_KEY=
PORT=4444
JWT_SECRET=123456

# Admin username To Delete Posts
ADMIN_USERNAME=xt

NODE_ENV=production
MAIN_SITE_URL=https://pitron-halomot.org
FORUM_URL=https://lab.pitron-halomot.org


# Connect to Supabase via connection pooling
DATABASE_URL=

# Direct connection to the database. Used for migrations
DIRECT_URL=