services:
  forum:
    build: .
    container_name: forum_app_dev
    ports:
      - "4444:4444"
    env_file:
      - .env
    environment:
      NODE_ENV: development
    volumes:
      - .:/app
      - /app/node_modules
    restart: unless-stopped
